*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
    /* background-color: #111; */
}

html,
body{
     height: 100%;
     width: 100%; 

     /* background-color: #111; */
}

nav{
     position: fixed;
     /* background: rgb(77, 210, 19);   */
     background: #111;
     display: flex;
     align-items: flex-start;
     height: 12vh;
     width: 100%;
      padding: 2vw 10vw;
     justify-content: space-between;
     z-index: 999;
}


.nav-part2{
          display: flex;
          gap: 2vw;
          align-items: flex-start;
         padding: 1vh 0;
         position: relative;
         z-index: 10;
         
}

.nav-part2 h4{
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.8vw;
      margin-bottom: 2.6vw;
}

.nav-part2 h5{
      margin-bottom: 1vw;
      /* background: red; */
      display: none;
      overflow: hidden;
}
 
.nav-part2 h5 span{
       font-weight: 400;
       font-size: 1vw;
       display: inline-block;
}

#nav-bottom{
      width: 80%;
      height: 0vh;
      position: absolute;
      background-color: #111;
      top: 100%;
      z-index: 9;
      border-bottom: 1px solid #fff;
    
}



nav button{
      background: #0da34e;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-radius: 50px;
      border: none;
      font-size: 1vw;
      text-transform: uppercase;
      font-weight: 700;
}

#page1 {
      /* margin-top: 30px; */
     height: 100vh;
     width: 100%;
     background: #111;
     display: flex;
     align-items: center;
     flex-direction: column;
      justify-content: center;
      position: relative;
      
}

#page1 h1{
     /* margin-top: 3vw; */
      font-size: 7.5vw;
      text-transform: uppercase;
      font-weight: 900;
      line-height: 8.5vw ;

}
 
#page1 h1 svg{
     height: 6vw;
     width: 6vw;
     border-radius: 50%;
     background: #0da34e;
}


#page1 p{
     margin-top: 4vw;
     text-align: center;
    font-weight: 400;
   
}

#page1-something {
       display: flex;
       align-items: center;
       justify-content: center;
}

#page1-something h4{
   font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
     margin-top: 0.5vw;
    border: 1px solid rgb(155, 152, 152) ;
     padding: 5px 12px;
    border-radius: 50px;
}

#page1-something  h4:nth-last-child(2){
      border: none;
      padding: 2px;
}

#moving-div{
       /* background: red; */
       margin-top: 10vh;
       position: absolute;
       bottom: 3%;
       white-space: nowrap;
       display: flex;
       padding: 1.2vw;
       overflow: hidden;
       width: 44%;
}

#moving-div .move{
      display: inline-block;
       animation-name: mobe;
       animation-duration: 10s;
       animation-timing-function: linear;
       animation-iteration-count: infinite;
}

#moving-div .move img{
       height: 1vw;
       margin: 0 1vw;
       
}

@keyframes mobe {
     0%{
         transform: translateX(0);
     }
     
     100%{
           transform: translateX(-100%);
     }
}


#blur-left{
       height: 100%;
       width: 20%;
       background: linear-gradient(to right, #111, transparent);
       position: absolute;
       top: 0;
       left: 0;
       z-index: 2;
}


#blur-right{
      height: 100%;
      width: 20%;
      background: linear-gradient(to right, transparent, #111);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
}

#page2{
    height: 100vh;
    width: 100%;
    background: #111;
     position: relative;
     padding: 0vw 10.5vw;
     padding-bottom: 8vw;
     border-top: 1px solid #333;
     display: flex;
     align-items: center;
     justify-content: space-between;

}

#page2-left{
      height: 100%;
      width: 40%;
      /* background: #333; */
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      padding: 3vw 0;
}

#page2-left p{
       font-size: 0.8vw;
}

#page2-left h5{
      width: 75%;
      font-weight: 400;
       font-size: 1.1vw;
}

#page2-right{
       height: 100%;
       width: 50%;
       /* background-color: #333; */
}

.right-elem{
       position: relative;
       /* background: red; */
       padding-top: 2vw;
       padding-bottom: 5vw;
       border-bottom: 1px solid #333;
      
}

.right-elem h2{
  font-size: 1.4vw;
  font-weight: 400;      
}


.right-elem img{
       height: 7vw;
       width: 7vw;
       border-radius: 50%;
       object-fit: cover;
       opacity: 0;
       position: absolute;
       scale: 0;
       
}

#page3{
      height: 100vh;
      width: 100%;
      position: relative;
      background-color: #111;
      background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      
}

.page3-center{
      /* background-color: red; */
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1vw;
}

.page3-center .icon{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3.3vw;
      border-radius: 60px;
      background-color: #fff;
}

.page3-center .icon i{
       color: #000;
       font-size: 2.8vw;
}

.page3-center h5{
      font-size: 0.8vw;
      padding: 12px 26px 10px 26px;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 50px;
      transition: all ease 0.5s;
      opacity: 0;
      margin-top: 1vw;
      background-color: #fff;
      color: #000;
      transform: translateY(16%);
}

.page3-center:hover h5{
       opacity: 1;
       transform: translateY(0%);
}

#page3 video{
       height: 100%;
       width: 100%;
       position: absolute;
       object-fit: cover;
       transform: scaleX(0.7) scaleY(0);
       border-radius: 30px;
       opacity: 0;
       z-index: 9999;
       
}

#page4{

      /* agar height dengey to baaki ke element page se bhar niklengey isliye min-height dengey */
      min-height: 100vh; 
      width: 100%;
      background-color: #fff;
      position: relative;
      padding-bottom: 13vh;

}

.section{
       width: 100%;
       height: 72vh;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 13vh 10vw;
       padding-bottom: 0;
       
}

.sec-left{
       height: 100%;
       width: 30%;
       /* background-color: aqua; */
       padding-top: 3vh ;
       border-top: 2px solid #000;
}

.sec-left h2{
       font-size: 2.1vw;
       font-weight: 500;
       color: #000;
}

.sec-left p{
       font-size: 1.2vw;
       color: #000;
       margin-top: 10vh;
}

.sec-right{
       height: 100%;
       width: 65%;
        background-color: blanchedalmond;
        position: relative;
        
        
}

.sec-right img{
   height: 100%;
   width: 100%;
   object-fit: cover;
  
}

.sec-right video{
       height:  100%;
       width: 100%;
       position: absolute;
       object-fit: cover;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity ease 0.3s
        
}

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    padding: 5vh 10.5vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}


#page5>button{
        background-color: #0ba34b;
        padding: 0.9vw 2.5vw;
        font-size: 1vw;
        font-weight: 500;
        border-radius: 50px;
        border: none;
        position: sticky;
        top: 15%;
}

#page5-right{
        width: 70%
        
}

#page5-right>p{
       font-size: 2vw;
}

#page5-right>p span{
        /* background-color: red; */
        width: 15vw;
        display: inline-block;
}

#page5-content{
        width: 100%;
        /* background-color: red; */
        /* font-size: 1vw; */
        margin-top: 5vh;
        padding: 5vh 0;
       
}

#page5-content h1{
       font-size: 3vw;
}

#page5-content #flex{
        display: flex;
        margin-top: 4vh;
        margin-bottom: 4vh;
}

#page5-content #flex h4{
        border-radius: 50px;
        border: 1px solid #fff;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 0.8vw;
}

.page5-elem{
       display: flex;
       align-items: flex-start;
       justify-content: space-between;
       padding-top: 3vh;
       padding-bottom: 9vh;
       position: relative;
       /* background-color: red; */
       overflow: hidden;
       border-top: 2px solid #333;
       transition: all ease 0.5s;
}

.page5-elem p{
       width: 55%;
       font-size: 0.9vw;
       position: relative;
       z-index: 8;
}

.page5-elem h3{
        font-size: 1.5vw;
        font-weight: 400;
        position: relative;
        z-index: 8;
        transition: all ease 0.5s;
}

.page5-elem i{
        font-size:1.5vw;
        position: relative;
        z-index: 8;
        transition: all ease 0.5s;

}

.over{
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: #222 ;
   top: 0;
   transform: translateY(-100%) ;

   opacity: 0;
   transition: all ease 0.5s;
}

.page5-elem:hover h3{
       padding-left: 1vw;
       
}

.page5-elem:hover i{
       padding-right: 1vw;
}

.page5-elem:hover .over{
        transform: translateY(0);
        opacity: 1;
}

.page5-elem:hover{
        border-top: 2px solid #fff;
}

summary::marker{
       content: "";
}

.uiux{
       border-top: 1px solid #333;
       padding: 3vh 0;
}

.product{
       border-top: 1px solid #333;
       padding: 3vh 0;
}
       


#page6{
      min-height: 100vh;
       width: 100%;
      background-color: #fff;
      padding: 8vh 10vw;
}

#page6>h1{
        font-size: 5vw;
        color: #000;
        /* background-color: red; */
        padding-left: 30vw;
        padding-right: 5vw;
        line-height: 5.5vw;
        padding-bottom: 10vh;
        border-bottom: 1px solid #dadada;
}

#page6-content{
       
  /* background-color: red; */
  color: #000;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
   padding: 8vh 0;

}

#page6-content #right-6{
       width: 60%;
      
}

#page6-content #right-6 p{
       font-size: 1.5vw;
       color: #000;
        margin-bottom: 5vh;
        width: 80%;
}


#blue-btn{
      height: 4vw;
       width: 18vw;
       background-color: #4f5bff;
       border-radius: 100px;
       display: flex;
       align-items: center;
       justify-content: center;
}

#blue-btn h4{
       position: absolute;
       text-transform: uppercase;
       font-weight: 400;
       font-size: 0.8vw;
      
}

#blue-btn h4 i{
       font-size: 1.3vw;
       font-weight: 50;
       margin-left: 0.5vw;
}

#page6-bottom{
       height: 44vh;
       width: 100%;
       /* background-color: red; */
       border-top: 1px solid #dadada;

       /* background-color: rgb(37, 33, 33);      */
       display: flex;
       align-items: flex-start;
       justify-content: center;
}

#btm6-part1{
       height: 100%;
       width: 30%;
        /* background-color: red; */
       border-right: 1px solid #dadada;
       color: #fff;
}

#btm6-part2{
       height: 100%;
       width: 28%;
       /* background-color: red; */
       border-right: 1px solid #dadada;
}

#btm6-part3{
       height: 100%;
       width: 15%;
       /* background-color: red; */
       border-right: 1px solid #dadada;
}

#btm6-part4{
       height: 100%;
       width: 14%;
       /* background-color: red; */
       border-right: 1px solid #dadada;
}

#btm6-part5{
       height: 100%;
       width: 14%;
       /* background-color: red; */
       border-right: 1px solid #dadada;
}

.btm6-parts{
       padding: 4vh .2vw;
       /* overflow: hidden; */
       /* border: 1px solid #111; */
      
}

.btm6-parts h5{
       font-weight: 500;
       font-size: 0.85vw;
       color: #000;
       border: 1px solid #000;
       border: 50px;
       margin-bottom: 4vh;
}
.btm6-parts h4{
       width: 70%;
       /* color: #111; */
       padding: 3px 20px;
       margin-bottom: 0.2vh;
       border-radius: 50px;
       font-size: 0.8vw;
       font-weight: 500;
       border: 1px solid #000;
       display: flex;
       align-items: center;
        background-color: #111;
        
      
}

.btm6-parts h4 span{
       background-color: #333;
       padding: 0.3vw;
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
       height: 1.5vw;
       width: 1.5vw;
      
}

.btm6-parts h4:nth-child(2){
       transform: translate(10%);
}
.btm6-parts h4:nth-child(3){
       transform: translate(20%);
}
.btm6-parts h4:nth-child(4){
       transform: translate(30%);
}
.btm6-parts h4:nth-child(5){
       transform: translate(40%);
}
.btm6-parts h4:nth-child(6){
       transform: translate(50%);
}
.btm6-parts h4:nth-child(7){
       transform: translate(60%);
}


#page7{
       height: 100vh;
       width: 100%;
       background-color: #111;
}
